*{
    margin: 0;
    padding: 0;
}

/* Site-Wide styles */

@yellow-bb: #f8df1f;
@black-bb: #050500;
@red-bb: #ee252f;
@white-bb: #f3f3f3;


p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: @black-bb;
    font-weight: 400;
}  

.link {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500px;
    color: @black-bb;
}

.navUppercase {
    font-family: 'Roboto', sans-serif;
    color: @red-bb;
}

button {
    background-color: @yellow-bb;
    border-radius: 8px;
    border: none;
    padding: 2%;
    .link;
}

/*Mobile header styles */

nav {
    background-color: @yellow-bb;
    padding: 35px 0;
}
    ul
        li {
            display: inline;
            padding: 3%;
            .link;
        }

.hero {
    
    padding: 75px 0;
    background-image: url(img/banner-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, bottom;

}
    .logo {
    }